
<div>
    <h5>Make a booking!</h5>
    <%= simple_form_for [ @vehicle, @booking ] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, "Request booking", class: 'btn btn-primary' %>
    <% end %>
</div>

<%# 

<vaadin-date-time-picker id="start_date"></vaadin-date-time-picker>

<vaadin-date-time-picker id="end_date"></vaadin-date-time-picker> %>


<div class="booking-form">
    <%= simple_form_for([@vehicle, @booking]) do |f| %>
    <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
    <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
    <%= f.submit "book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
    <% end %>
</div>