<div class="container">
  <div class="form-wrapper" id="booking-form" data-unavailable-dates="<%= @vehicle.unavailable_dates %>">
    <h2>Request a booking</h2>

    <%= simple_form_for [ @vehicle, @booking ] do |f| %>
      <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker", id: "booking_start_date"} %>
      <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker", id: "booking_end_date"} %>
      <%= f.submit "Book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
    <% end %>
  </div>
</div>