<div class="container">

<div class="d-flex justify-content-between align-items-center">
    <h1><%= @user.name %></h1>
    <div><%= link_to icon('fas', 'plus', class: 'strong'), new_vehicle_path %></div>
</div>

<% if @vehicles.any? %>
  <% my = @user == current_user ? "" : "My"  %>
  <h2><%= my %> Vehicles</h2>
  <div>
    <%= render 'shared/vehicles_grid' %>
  </div>
<% end %>

<% if @user == current_user && @vehicle_bookings.any? %>
  <h2>Bookings of my vehicles</h2>
    <% @vehicle_bookings.each do |booking| %>
      <div class="card">
        <%= link_to booking.vehicle.name, vehicle_path(booking.vehicle) %>
        <p><%= booking.status %></p>
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :radio_buttons, collection: Booking::STATUS %>
          <%= f.submit %>
        <% end %>

      </div>
    <% end %>
<% end %>

<% if @user == current_user && @bookings.any? %>
  <h2>My Bookings</h2>
    <% @bookings.each do |booking| %>
      <div class="card">
        <%= link_to booking.vehicle.name, vehicle_path(booking.vehicle) %>
        <p><%= booking.status %></p>
      </div>
    <% end %>
<% end %>

</div>
