<div class="page-home break-out">
  <div class="banner">
    <div class="header">
      <h1>Drive a Dragon</h1>
      <h2>Rent a magic vehicle for a magic journey</h2>
    </div>
    </div>
    <div class="hider"></div>
  </div>

<h2>Discover our vehicles:</h3>
<div class="cards">
  <%= link_to vehicles_path(query: 'sci-fi') do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @vehicles[:sci_fi].photos.first.key %>)">
      <p>Sci-Fi</p>
    </div>
  <% end %>

  <%= link_to vehicles_path(query: 'magic creature') do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @vehicles[:creature].photos.first.key %>)">
      <p>Magic Creatures</p>
    </div>
  <% end %>

  <%= link_to vehicles_path(query: 'magic object') do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @vehicles[:object].photos.first.key %>)">
      <p>Magic Objects</p>
    </div>
  <% end %>
</div>


  <br>

  <br>
</div>


