<div class="container">
    <h1>Browse all vehicles</h1>
  <div class="d-flex justify-content-start align-items-center mt-2 mb-4">
    <%= link_to 'All', vehicles_path, class: "btn btn-search" %>
    <%= link_to 'Sci-Fi', vehicles_path(query: 'sci-fi'), class: "btn btn-search" %>
    <%= link_to 'Magic objects', vehicles_path(query: 'magic object'), class: "btn btn-search" %>
    <%= link_to 'Magic Creatures', vehicles_path(query: 'magic creature'), class: "btn btn-search" %>
  </div>
  <%= render 'shared/vehicles_grid' %>
</div>

<!-- 'sci-fi', 'magic creature', 'magic object' -->
