<div class="container">
  <div class="vehicle">

    <div class="flexbox">
      <%= render "./shared/carousel.html" %>
        <div class="right-column">
          <div>
            <div class="container-header">
              <h1 class="vehicle-name">
                <%= @vehicle.name %>
                  <% if current_user %>
                    <% if @vehicle.bookings.booked_now.from_user(current_user.id).count> 0 %>
                      <%= image_tag 'reserved.png' %>
                        <% end %>
                          <% end %>
              </h1>

              <br />
              <%= link_to "Back" , vehicles_path, class:'btn btn-primary' %>
            </div>
            <p class="vehicle-user">
              <em>
                Posted by <%= @vehicle.user.name %> - <%= @vehicle.user.created_at %>
              </em>
            </p>
          </div>
          <p class="vehicle-price">
            <%= @vehicle.price %> €
          </p>
          <p class="vehicle-decription">
            <strong>About your magic vehicle:</strong><br />
            <%= @vehicle.description %>
          </p>

          <p class="vehicle-location">
            <strong> To pick up at:</strong> <br />
            <%= @vehicle.location %>
          </p>
        </div>


    </div>

    <div class="booking-form">
      <%= render "./shared/booking_form.html" %>
    </div>
    <div class="reserved">
      <% unless @vehicle.bookings.nil? %>
        <%= render 'shared/bookings_table' %>
          <% end %>
    </div>
  </div>
</div>