<div class="container">
<div class="vehicle">
  <h1 class="vehicle-name"><%= @vehicle.name %></h1>
  <p class="vehicle-user">Posted by <%= @vehicle.user.name %></p>
  <p class="vehicle-post">Online since<%= @vehicle.user.created_at %></p>

  <p class="vehicle-decription"><%= @vehicle.description %></p>
  <p class="vehicle-price"><%= @vehicle.price %> €</p>
  <p class="vehicle-location"><%= @vehicle.location %></p>
</div>

<div class="booking-form">Form here</div>

<%= link_to "Back", vehicles_path %>
</div>
